footer {
    // Positioning
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;

    background: linear-gradient(to bottom, #3705585b, #37055897);
}

.leftSection {
    // Positioning
    margin-left: 1vw;
}

.socialIcons {
    // Positioning
    margin-right: 1vw;

    display: flex;
    gap: 50px;

    // Styling
    list-style-type: none;
}

.icons {
    // Positioning
    width: 32px;
    height: 32px;

    svg {
        // Positioning
        width: 100%;
        height: 100%;
    }
}